:root {
  --main-color: #274C5B;
  --secondary-color: #7EB693;
  --paragraph-color: #525C60;
  --white-color: #FFFFFF;

  --hover-bg-color: #EFD372;
  --grey-bg-color: #F9F8F8;
  --tab-na-bg-color: #EFF6F1;
  --info-bg-color: #ECECEC;

  --active-bg-yellow: #fad587;
  --active-bg-green:#315c6e;

  --visited-link-color:#9400D3;


  --padding-section: 185px;

  --border-radius-card: 36px;
  --border-radius-button: 16px;
  --border-radius-icon: 8px;
  --border-radius-round: 50%;
}