.pp-centred {
  margin: 0 auto;
}

.product-details_banner {
  background: url('../../../public/images/ProductPageBanner.webp') no-repeat;
  width: 100vw;
  height: 450px;
}

.product-details_section {
  margin: 135px auto 90px auto;
  display: flex;
  justify-content: space-between;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  svg {
    animation: rotate 2s linear infinite;
    width: 50px;
    height: 50px;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
}

.error-message,
.not-found-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  color: gray;
}

.pp-img_wrapper {
  position: relative;
  min-width: 600px;
  min-height: 600px;
  padding: 50px;
  border-radius: 30px;
}

.pp-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.offer__product-category-link {
  cursor: pointer;
}


.pp_product-name-link {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s ease;

  &:hover {
    color: var(--hover-bg-color);
  }


}

.pp-content_wrapper {
  position: relative;
  width: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-test {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  width: 145px;
  border: 1px solid #274C5B;
  padding: 30px;
  border-radius: 20px;
  text-align: center;

  color: #274C5B;

font-size: 20px;
font-weight: 700;
}

.label-test {
  color: #274C5B;
margin-right: 22px;
font-size: 20px;
font-weight: 700;
}



.pp_btns-wrapper {
  margin-top: 35px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pp-brn_wrapper {
  position: relative;
}

.pp-content_price {
  margin: 20px 0 25px 0;
  color: #274C5B;
  font-size: 25px;
  font-weight: 700;
}

.pp-btn_add {
  position: relative;
  display: inline-block;
  padding: 30px 78px 30px 39px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 20px;
  transition: all 0.3s ease 0s;
}

.pp-btn_add::after {
  content: "\2192";
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.pp-content {
  width: 586px;
}


.old-price {
  text-decoration: line-through;
  margin-right: 10px;
  color: #B8B8B8;

font-size: 22px;
font-weight: 400;
}
