@import '../../globals/vars.scss';

//events
.productPage__loader {
  @include flex-center;
  height: 100vh;

  svg {
    width: 50px;
    height: 50px;
    animation: rotate 2s linear infinite;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
}

.productPage-message__error,
.productPage-message__notFound {
  @include flex-center;
  height: 100vh;
  font-size: 24px;
  color: gray;
}

//
.productPage-section__details {
  display: flex;
  justify-content: space-between;
  margin: 133px auto 0 auto;
}

.productPage-img__wrapper {
  position: relative;
  width: 500px;
  height: 500px;
  margin-left: 80px;
  border-radius: 30px;
  border: 1px solid var(--main-color);

  &-span {
    cursor: pointer;
    margin: 30px 0 0 25px;
    text-transform: capitalize;
  }

  &-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 30px;

  }
}

.productPage-content__wrapper {
  position: relative;
  width: 660px;
  @include justify-center;
  flex-direction: column;
}

.productPage__content {
  width: 586px;

  &-prices {
    margin: 20px 0 25px 0;
    color: var(--main-color);
    font-size: 25px;
    font-weight: 700;

  }
}

.productPage-controls {
  &__wrapper {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
  
  }

  &__label {
    margin-right: 22px;
    font-size: 20px;
    font-weight: 700;
    color: var(--main-color);
  }

  &__input {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    width: 145px;
    border: 1px solid var(--main-color);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 700;
  }
}

.productPage-btns {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  border-radius: 20px;
  transition: all 0.3s ease 0s;
  padding: 23px 60px;

  &__transparent {
    background-color: var(--tab-na-bg-color);
    color: var(--main-color);
  }

  &__wrapper {
    margin-top: 90px;
    margin-bottom: 70px;
  }

  &__block {
    @include justify-center;
    gap: 20px;
  }

  &__desc {
    @include justify-center;
    margin-top: 30px;
  }
}
.related-products{

  h3{
    margin-bottom: 40px;
    text-align: center;
  }
  .related-products__cards{
    display: flex;
    align-items: center;
    gap: 20px;
  }
}