.offer__product{
  padding: 30px 20px 15px 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 335px;
  width: 100%;
  background: var(--white-color);
  position: relative;
  border-radius: var(--border-radius-card);
  &-category-link{
    display: flex;
    justify-content: center;
    align-self: start;
    align-items: center;
    padding: 5px 12px;
    border-radius: var(--border-radius-icon);
    transition: all .2s ease-in-out;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    position: absolute;
    z-index: 2;
  }
  &-name-link{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    &:hover{
      color: var(--hover-bg-color);
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }
  &-image{
    max-width: 100%;
    height: 330px;
  }
  &-price{
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: var(--main-color);
    max-width: 60px;
    width: 100%;
  }
}

