.whoWeAreSection {
  height: 931px;
  width: 1920px;
  margin: 0 auto;
  background-color: var(--white-color);
  background-image: url("../../../../public/who-we-are-bg-img.webp");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: left;
  overflow: hidden;

  .whoWeAreSection-wrapper {
    background-image: url("../../../../public/who-we-are-bg2.svg");
    background-repeat: no-repeat;
    background-position-x: 57%;
    background-position-y: 100px;

    .whoWeAreContentBlock {
      width: 50%;
      margin-right: 0;
      margin-left: auto;
      padding: 140px 260px 185px 0;

      .spanMb {
        margin-bottom: 8px;
      }

      .block {
        margin-top: 35px;
      }
    }
  }
}