.style_component_wrapper {
  min-width: 1920px;
  margin: auto;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.bg-about_us {
  background: url("../../../public/images/style-guide-images/about-us.png") center/ cover no-repeat;
}

.bg-shop {
  background: url("../../../public/images/style-guide-images/shop.png") center / cover no-repeat;
}

.bg-shop-single {
  background: url("../../../public/images/style-guide-images/shop-single.png") center / cover no-repeat;
}

.bg-services {
  background: url("../../../public/images/style-guide-images/services.png") center / cover no-repeat;
}

.bg-quality {
  background: url("../../../public/images/style-guide-images/quality-standart.png") center / cover no-repeat;
}

.bg-portfolio {
  background: url("../../../public/images/style-guide-images/portfolio-standard.png") center / cover no-repeat;
}

.bg-team {
  background: url("../../../public/images/style-guide-images/our-team.png") center / cover no-repeat;
}

.bg-news {
  background: url("../../../public/images/style-guide-images/news.png") center / cover no-repeat;
}

.bg-contact {
  background: url("../../../public/images/style-guide-images/contact.png") center / cover no-repeat;
}