.sort__form{
  margin-bottom: 50px;
  display: flex;
  gap: 30px;
  align-items: center;
  &-label{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: var(--paragraph-color);
    font-weight: 700;
    cursor: pointer;

  }
  &-select{
    padding: 15px;
    font-size: 20px;
    width: 378px;
    color: var(--main-color);
    background: var(--white-color);
    border-radius: var(--border-radius-button);
    //outline: 10px solid var(--paragraph-color);
    transition: all .3s ease-in-out;
    cursor: pointer;

    &:focus{
      outline: 1px solid var(--secondary-color);
    }
  }
}