.header{
  background: rgba(255, 255, 255, 0.90);
  padding-top: 70px;
  padding-bottom: 70px;
  position: fixed;
  width: 100%;
  z-index: 9999;
  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}