.search {
  &__form {
    display: flex;
    align-items: center;
    position: relative;

    & label {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 56px;
      height: 56px;
      border-radius: var(--border-radius-round);
      background: var(--secondary-color);
      display: flex;
      align-items: center;
      justify-content: center;

      &.active {
        background: var(--hover-bg-color);
      }

      & img {
        width: 21px;
        height: 21px;
      }
    }
  }

  &__input {
    width: 376px;
    padding: 20px;
    font-size: 20px;
    background: #FAFAFA;
    border: 1px solid var(--grey-bg-color);
    border-radius: var(--border-radius-card);

    &:focus,
    &:active {
      border: 1px solid var(--secondary-color);
    }
  }
}

.search__wrapper {
  ul {
    position: absolute;
    padding: 15px;
    background-color: #FAFAFA;
    border-radius: var(--border-radius-card);
    width: 100%;
    margin-top: 10px;
    li{
      width: inherit;
      padding-top: 3px;
      padding-bottom: 3px;
      transition: all .3s ease-in-out;
      border-radius: var(--border-radius-button);
      & a,
      & a:visited{
        color: var(--paragraph-color);
      }
    }
    li:hover {
      cursor: pointer;
      background: var(--secondary-color);
    }
  }
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}

.product__wrapper{
  display: flex;
  align-items: center;
  overflow: clip;
}

.product__image{
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius-round);
}

.product__name{
  margin-left: 10px;
  font-weight: 700;
  color: var(--main-color);
}

.product__price{
  margin-left: auto;
  margin-right: 10px;
  font-weight: 700;
}