.card-link {
  flex-basis: calc((100% - 36px) / 2);
  flex-shrink: 1;
  flex-grow: 0;
  transition: transform 0.3s ease 0s;

  .card-wrapper {
    min-height: 367px;
    border-radius: 30px;
    overflow: hidden;

    p {
      font-family: "Roboto", sans-serif;
      font-size: 40px;
      font-weight: 800;
      line-height: 1.2;
    }
  }
}

.card-link:first-of-type:hover {
  transform: scale(1.04) ;
}
.card-link:last-of-type:hover {
  transform: scale(1.04);
}

.first-card {
  background: url("../../../public/images/cards-bg/first-card.jpg") center / cover no-repeat;

  .content-block {
    max-width: 277px;
    padding: 110px 0 110px 55px;

    span {
      color: var(--white-color);
      margin-bottom: 5px;
    }

    p {
      color: var(--white-color);
    }
  }
}

.second-card {
  background: url("../../../public/images/cards-bg/second-card.jpg") center / cover no-repeat;
  .content-block {
    max-width: 313px;
    padding: 110px 0 110px 55px;
    span {
      margin-bottom: 5px;
    }
    p {
      color: var(--main-color);
    }
  }
}

//================================Ver 2.0===============//

//.card-item-link {
//  max-width: 683px;
//  border-radius: 30px;
//  overflow: hidden;
//
//  position: relative;
//  .disc-wrapper{
//    border-radius: 30px;
//    overflow: hidden;
//  }
//
//  img {
//    width: 100%;
//  }
//  .content-box{
//    position: absolute;
//    top: 30%;
//    left: 55px;
//    width: 277px;
//    height: 367px;
//
//    p {
//      font-family: "Roboto", sans-serif;
//      font-size: 40px;
//      font-weight: 800;
//      line-height: 1.2;
//      color: var(--white-color);
//    }
//    span {
//      color: var(--white-color);
//      margin-bottom: 5px;
//    }
//    @media (max-width:1024px) {
//      top: 20%;
//      p{
//        font-size: 32px;
//      }
//    }
//    @media (max-width: 768px) {
//      top: 15%;
//      p{
//        font-size: 24px;
//      }
//
//    }
//  }
//}