.cooperation{
  padding-top: 90px;
  margin-bottom: 98px;
  &__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
  }
  &__image{
    width: 623px;
    height: 620px;
  }
  &__title{
    margin-bottom: 15px;
  }
  &__desc{
    margin-bottom: 35px;
  }
  &__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__contacts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 35px;
  }
}